<hr />
<h3>
  Show subscriptions <small><a (click)="show = !show">Show / Hide</a></small>
</h3>
<form #f="ngForm" *ngIf="show">
  <!-- <input
    type="text"
    name="nodeId"
    ngModel="env-douglas-dev"
    placeholder="Node ID"
  /> -->
  <highcharts-chart
    [Highcharts]="Highcharts"
    [constructorType]="'ganttChart'"
    [options]="chartOptions"
    [callbackFunction]="chartCallback"
    [(update)]="updateFlag"
    [oneToOne]="true"
  >
  </highcharts-chart>
  <button (click)="updateChart()">Update</button>
</form>
